body {
    font: 11pt sans-serif;
}


.jsoneditor-tree {
    overflow-x: inherit !important;
}

.jsoneditor-is-not-default {
    font-weight: bold;
}

#rubric-select, #create-button, #save-button {
    margin: 1em;
    display: inline-block;
    height: 2em;
}

main.edit-mode {
    #jsoneditor {
        width: 65vw;
        height: 500px;
        margin: 0 auto;
    }

    #updater {
        display: none;
    }
}

main.updater-mode {
    div#updater {
        display: inline-block;
        width: 55vw;
        height: 80vh;
        float: right;
    }
    div#jsoneditor {
        display: inline-block;
        width: 35vw;
        height: 79vh;
        float: left;
    }

    .CodeMirror {
        height: 55vh;
    }

    #errors {
        max-height: 15vh;
        overflow-y: scroll;
    }
}