*.tsv
hta/gradebook.tsv
hta/grades/*
hta/handin/students/*
*.lock
*.pyc
*.pdf
www
ta/grading/data/sfiles/*
ta/grading/data/rubrics/*
ta/grading/data/blocklists/*
ta/grading/data/grades/*
ta/grading/data/logs/*
ta/grading/data-backup
ta/grading/venv
handin-archive
.gpfs_quota_usage
hta/grading/anonymization/*
hta/handin/venv
hta/grade-summary.tsv
hta/gradesbackup
ta/grading/data-backup2
backups
hta/permission_errors.log
hta/grading/archive
ta/grading/testing.py
ta/grading/data/anonymization/*
ta/grading/data/tests/*
old-archive
client_secret.json
hta/handin/ref_tok.txt
hta/handin/client_secret.json
hta/handin/credentials.json
hta/handin/students.txt
ta/groups
py-env
www
evaluation
pysuite
.repos
materials
hta/grading/venv
hta/testgrades
