ta/grading/data/sfiles/*
ta/grading/data/rubrics/*
ta/grading/data/blocklists/*
ta/grading/data/grades/*
ta/grading/data/logs/*
*.lock
*.pyc
*.pdf
ta/grading/data-backup
ta/grading/venv
handin-archive
.gpfs_quota_usage
www
hta/grades/*
hta/grading/anonymization/*
hta/handin/venv
hta/handin/students/*
hta/grade-summary.tsv
hta/gradesbackup
ta/grading/data-backup2
