*.tsv
*.lock
*~
*.bak
*.pyc
*.pdf
*.log
*.mypycache
*.mypy_cache/
._*.py
.DS_Store
.dmypy.json
.idea
www
storm-tas
.gpfs_quota_usage
client_secret.json
hta/handin/ref_tok.txt
hta/handin/client_secret.json
hta/grading/extensions.txt
hta/*.csv
venv
