<html>
<head>
  <title>CS-A Grading</title>
  <script src="/static/jquery.js"></script>
  <script src="/static/jquery-ui.min.js"></script>
  <script src="/static/main.js"></script>
  <script src="/static/progressbar.min.js"></script>
  <script src="/static/confetti.js"></script>
  <script src="/static/toastr.min.js"></script>
  <link rel="stylesheet" href="/static/toastr.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon.ico">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <link href='/static/prism.css' rel='stylesheet' />
  <link rel="stylesheet" href="/static/materialize.css">
  <script src='/static/jquery.caret.min.js'></script>
  <link rel='stylesheet' href='/static/jquery.tag-editor.css' />
  <script src='/static/jquery.tag-editor.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <script src='/static/prism.js'></script>
  <canvas id="confetti" width="1" height="1"></canvas>
  <header style="padding-left: 300px">
    <nav class="top-nav white black-text">
      <div class="">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s12 m10">
              <h4 class="header col s8" data-unsp-sanitized="clean">CS-A TA Grading App</h4>
              <a href="/edit-rubric">Go to rubric editor</a>
              <div id='login-info'>Logged in as {{ user }}</div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <ul class='sidenav sidenav-fixed collection' id='handin-ul'>
      <div id='sidenav-top'>
        <li class='center-align'>
          <div>
            <select autoselect class='browser-default form-control' id='asgn-list' onchange="loadAsgn(this)">
              <option>Select Assignment</option>
              {% for asgn in asgns %}
              <option value="{{ asgn.full_name }}">{{ asgn.full_name }}</option>
              {% endfor %}
            </select>
          </div>
        </li>
        <li class='center-align'>
          <div id='prob-list-div' class='form-group col s4 hidden'>
            <select id='prob-list' class='browser-default form-control' onchange="loadProb(this)">
              <option id='base-prob-opt'>Select Question</option>
            </select>
          </div>
          <div id='problem-status' class='hidden col s4'>
            <div id='status-slider'></div>
          </div>
        </div>
      </li>
    </div>
    <div id='sidenav-content'>
      <li id='handin-list-item-template' class='handin-list-item nodisp' onclick="loadHandin(this)">
        Student <span class='handin-student-id'></span><span class='secondary-content handin-status'></span>
      </li>
    </div>
  </ul>
</header>
<main>
  <div class='modal' id='student-list-modal'>
    <p>If you do not see a student on this list, it is because they are being graded by someone else, or you are blacklisted.</p>
    <select id='student-select' class='browser-default'>
      <option class='nodel' value='NONE'>Select a student...</option>
    </select>
    <button onclick='extractByLogin(this)' class='btn green darken-1 waves-light'>Extract</button>
  </div>
  <div id='rubric-div' class='container'></div>
</main>
<footer class='page-footer col s8 white nodisp'>
  <div class='row' id='handin-options'>
    <button class='btn green handin-button extract-button darken-1 waves-light' id='extract-handin' onclick='extract(this)'>New handin</button>
    <button class='btn extract-button green handin-button darken-1 waves-light' id='extract-by-login' onclick='$("#student-list-modal").modal()'>Extract by login</button>
    <button class='btn green handin-button darken-1 waves-light' id='handin-complete' onclick='saveHandin(true)' disabled>Save &amp; done</button>
    <button class='btn green handin-button darken-1 waves-light' id='handin-save' onclick='saveHandin(false)' disabled>Save</button>
    <button class='btn green handin-button darken-1 waves-light' id='handin-flag' onclick='flagToggle(this)' disabled>Flag</button>
    <button class='btn green handin-button darken-1 waves-light' id='handin-unextract' onclick='unextractHandin(this)' disabled>Unextract</button>
    <button class='btn green handin-button darken-1 waves-light' id='handin-report-view' data-target='report-modal' onclick='viewReport(this)' disabled>View Report</button>
    <button class='btn green handin-button darken-1 waves-light' id='run-test-button' onclick='runTest(this)'>Run tests</button>
  </div>
</footer>
</body>
</html>
