<!DOCTYPE html>
<html>
  <head>
    <title>Code Viewer</title>
    <script src="/static/jquery.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon.ico">
    <link href="/static/prism.css" rel="stylesheet" type="text/css">
    <script src="/static/clipboard.min.js"></script>
    <script>
      function copyCode(x) {
        $(x).siblings('input').select();
        document.execCommand('copy');
      }

      function openDir(x) {
        fetch('/open_browser');
      }
    </script>
  </head>
  <body>
    <script src="/static/prism.js"></script>
    <h4>Code directory is: <input style="width: 40%;" type="text" id='code-dir' value="{{ code_dir }}"/> <button data-link="{{ code_dir }}" onclick="copyCode(this)">(click here to copy)</button><button onclick='openDir(this)'>(click here to open file browser)</button></h4>
    <button class='btn' data-clipboard-target='#code-content'>Copy code to clipboard</button>
    <a target="_new" href="https://code.pyret.org/editor">Open Pyret Editor</a>
    <button class='btn' data-clipboard-target='#code-with-tests'>Copy code with tests appended to clipboard</button>
    <pre class="line-numbers"><code id="code-content" class='language-python'>{{ code }}</code></pre>
    <code style='display: none;' id="code-with-tests">{{ code_with_tests }}</code>
    <script>
      $('pre code').each(function(i, block) {
        Prism.highlightElement(block);
      });
      new ClipboardJS('.btn', {
        text: function(trigger) {
          a=trigger;
          return $($(trigger).data('clipboardTarget')).text();
        }
      });
    </script>
  </body>
</html>
