*
!.gitignore
!README
!check_submissions.py
!confirmation_template.html
!filename_error_template.html
!get_creds.py
!googleapi.py
!googlefile.py
!helpers.py
!reject_template.html
!requirements.txt
!students
!config.py
!handin_helpers.py
!custom_types.py
!hta_helpers.py
!tmpzips
