.hidden {
    visibility: hidden !important;
}

.inline-block {
    display: inline-block;
}

#report-modal pre {
    padding: 1em;
}

nav {
    margin-bottom: 2em;
}

.row { margin-top:20px; }

div#handin-options button {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.handin-list-item.complete.unflagged {
    background-color: #4BB543;
}

.handin-list-item.complete.flagged  {
    background-color: pink;
}

.handin-list-item.error, .handin-list-item.action-required {
    background-color: red;
}

.handin-list-item.incomplete {
    background-color: orange;
}

main {
    padding-left: 300px;
}

div#login-info {
    float: right;
}

li.handin-list-item {
    padding: 0.4em;
}

#code-link {
    width: 2em;
}

li.handin-list-item:hover {
    cursor: pointer;
}

.nodisp {
    display: none !important;
}

.nav-wrapper > div.row {
    margin-top: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-left: 300px;
    padding-left: 2em;
}

h4 {
    margin-top: 0.4em;
}

​div#sidenav-top
{
    height:130px;
}
div#sidenav-content
{
    /*position:absolute;*/
    top: 130px;
    left:0px;
    right:0px;
    bottom:0px;
    /*overflow-y: auto;*/
    border-top: 2px solid #eee;
}​

main > .container {
    width: 85%;
}

main .category-name, main .general-name {
    text-align: center;
    /*grid-column: 1/3;*/
    font-size: 1.5em;
}

/* add a border and spacing between sections */
main .category-div {
    padding-bottom: 1em;
}

main .rubric-desc, main .rubric-desc-column {
    /*grid-column: 1/2;*/
}

main .rubric-sel, main .rubric-sel-column{
    /*grid-column: 2/4;*/
}


.active-li {
    border-left: 3px solid blue;
    border-right: 3px solid blue;
}

#status-slider {
    height: 30px;
}

.progressbar-text {
    color: black !important;
    opacity: 0.55;
}

.secondary-content {
    color: black;
}

.col .row {
    margin-right: 0em;
}

.modal.open {
    min-height: 5em;
    width: 75%;
}

button.modal-trigger {
    margin-bottom: 2em;
}

.modal-header {
    padding: 0.5em;
}

.dropdown-content.select-dropdown.multiple-select-dropdown li {
    display: inline-table;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 96% !important;
    }
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -999;
}

ul.select2-selection__rendered {
    padding-right: 12px !important;
}

.comment-select {
    width: 40%;
}

button.ui-button.ui-corner-all.ui-widget:focus {
    border: 1px solid black;
}

#student-list-modal {
    padding: 0.5em;
}

#student-select {
    margin-bottom: 1em;
}

.handin-button {
    width: 20%;
}

.category-div .rubric-item, .category-div .comments, .category-div .fudge-points {
    display: flex;
}

.category-div .rubric-item .rubric-descr {
    width: 55%;
    padding-right: 4em;
    padding-top: 0.6em;
}

.category-div .rubric-item .rubric-sel {
    width: 45%;
}

hr {
    height: 1px;
    color: #ededed;
    background-color: #ededed;
    border: none;
}

.tag-editor .tag-editor-tag {
    white-space: normal !important;
}

.category-div .comment-desc {
    width: 30%;
}

.category-div .fudge-points-desc {
    width: 65%;
}

.category-div .fudge-points-inp {
    width: 8% !important;
    float: left;
}

ul.tag-editor.ui-sortable, .category-div .comments-sel {
    width: 70% !important;
}

.tag-editor {
    width: 100%;
}

.tag-editor .tag-editor-delete {
    height: 20px;
}

#emoji-div {
    margin-top: 1em;
}

nav a {
    color: black;
    text-decoration: underline;
}