*
!.gitignore
!asgnipython
!better-members
!cs-asgn-hub
!cs-check-handins
!cs-get-grade-data
!cs-update-password
!cs-restore-backup
!cs-data-backup
!cs-generate-keytab
!group-data
!hta-ta-file
!lintall
!login-to-email
!update-groups
!custom_types.py
!helpers.py
!prompts.py
!config.py
!cs-check-regrade-requests
!cs-check-regrade-responses
!cs-give-extension
!course_customization.py
!cs-grading-app-cert
!setupper.sh
