*
!.gitignore
!asgnipython
!better-members
!cs50-asgn-hub
!cs50-check-handins
!cs50-get-grade-data
!cs50-update-password
!cs50-restore-backup
!cs50-data-backup
!cs50-generate-keytab
!group-data
!hta-ta-file
!lintall
!login-to-email
!update-groups
!custom_types.py
!helpers.py
!prompts.py
!config.py
