*
!.gitignore
!asgnipython
!better-members
!cs00-asgn-hub
!cs00-check-handins
!cs00-get-grade-data
!cs00-update-password
!cs00-restore-backup
!cs00-data-backup
!cs00-generate-keytab
!group-data
!hta-ta-file
!lintall
!login-to-email
!update-groups
!custom_types.py
!helpers.py
!prompts.py
!config.py
!cs00-check-regrade-requests
!cs00-check-regrade-responses
!cs00-give-extension
!course_customization.py
!cs00-grading-app-cert
!setupper.sh
